.navbar {
  width: 100%;
  height: 100px;

  padding-top: 20px;
  padding-bottom: 10px;

  display: flex;
  justify-content: center;
  align-items: center;

  position: sticky;
  top: 0;

  background: transparent;

  z-index: 1000;
}


.nav-links {
  display: flex;
  align-items: center;

  gap: 50px;

  list-style: none;
}

.nav-links li {
  position: relative;

  cursor: pointer;
}

.nav-links li a {
  text-decoration: none;

  color: black;

  font-size: 1rem;
  font-weight: 500;

  transition: 0.3s ease;
}

.nav-links li a:hover {
  color: #6b7280;
}

.nav-links li::after {
  content: "";

  position: absolute;

  left: 0;
  bottom: -5px;

  width: 0%;
  height: 2px;

  background-color: black;

  transition: 0.3s ease;
}

.nav-links li:hover::after {
  width: 100%;
}

.hamburger {
  display: none;

  font-size: 2rem;

  cursor: pointer;

  font-weight: bold;
}

@media (max-width: 768px) {

  .navbar {
    justify-content: flex-end;

    padding: 20px;
  }

  .hamburger {
    display: block;

    color: black;

    z-index: 1001;
  }

  .nav-links {
    position: fixed;

    top: 0;
    right: -100%;

    width: 250px;
    height: 100vh;

    background-color: white;

    flex-direction: column;

    justify-content: center;

    gap: 35px;

    transition: 0.3s ease;

    box-shadow: -5px 0 20px rgba(0, 0, 0, 0.1);
  }

  .nav-links.active {
    right: 0;
  }

  .nav-links li a {
    font-size: 1.1rem;
  }

}